* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #111; /* dark theme */
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
}

#timer {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    font-size: 18px;
    z-index: 10;
}
.level{
    position: absolute;
    top: 10px;
    left: 28%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    font-size: 18px;
    z-index: 10;
}
#levType{
    position: absolute;
    top: 10px;
    left: 72%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    font-size: 18px;
    z-index: 10;
}

#arena {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 500px;
    background-color: #fefefe;
    border: 3px solid #444;
    overflow: hidden;
}

#player {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: red;
    top: 400px;   /* bottom-left spawn */
    left: 20px;
    border-radius: 4px;
}

.collider {
    position: absolute;
    background-color: #555;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
}

#ver-left {
    top: 0;
    left: calc(50% - 400px);
    width: 10px;
    height: 500px;
}

#ver-right {
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
}

#b-left {
    top: 485px;
    left: calc(50% - 410px);
    width: 390px;
    height: 10px;
}
#b-right {
    top: 485px;
    left: calc(50% + 10px);
    width: 390px;
    height: 10px;
}
#cntr-col1{
    top: 65px;
    right: 14.5rem;
    width: 10px;
    height: 20rem;
}
#cntr-col2{
    top: 15rem;
    right: 24.5rem;
    width: 20rem;
    height: 10px;
}
.orbs{
    position: absolute;
    box-shadow: 0 0 10px green;
    background-color: greenyellow;
    border-radius: 200%;
    height: 40px;
    width: 40px; 
    opacity: 50%;
    
}
#orb1{
    top: 10rem;
    right: 33.5rem;
}
#orb2{
    top: 22rem;
    right: 22.5rem;
}
#orb3{
    top: 10rem;
    right: 5.5rem;
}
.end{
    position: absolute;
    background-color: rgb(255, 255, 71);
    border: 2px dashed goldenrod;
    border-radius: 10%;
    height: 60px;
    width: 60px;  
    top: 2.5rem;
    right: 3.5rem;
}